<!DOCTYPE html>
<%- include ("layout/header") %>
<%- include ("layout/navbar") %>

<script>
  <% if (typeof(passport) != undefined && passport != undefined && passport.user != undefined) { %>
    var user = <%-JSON.stringify(passport.user) %>;
    console.log ('user:', user);
  <% } %>
</script>

<section class="content">
  <%- include ("pages/" + 'home') %>
</section>

<%- include ("layout/footer") %>
